@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Fjalla One", sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
}

/* PAGES */

.page {
  height: 100vh;
  display: flex;
}

/* PAGE ONE */

.container {
  display: flex;
  max-width: 425px;
}

.titles {
  color: #fff;
  text-transform: uppercase;
  font-size: 68px;
  margin: 0;
  line-height: 68px;
  letter-spacing: 2px;
} 

.title {
  transform: rotate(-10deg);
  display: block;
}

.title span {
  transform: skew(-10deg);
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
}

.title:nth-child(1) {
  color: #e55643;
}
.title:nth-child(2) {
  color: #2b9f5e;
}
.title:nth-child(3) {
  color: #f1c83c;
}


#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* PAGE TWO */

.column1 {  
  flex: 50%;
  background-color: #2b9f5e;
}

.column2 { 
  flex: 50%;
  background-color: #bb36bb;
  padding: 50px;
}