/* body{
    padding:100px 0;
    background-color:#c33
  } */

  html,
  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  body {
    user-select: none;
    background-color: #eee;
    overflow: hidden;
    background: radial-gradient(rgb(255, 255, 255), rgb(200, 200, 200));
  }
  
  /* #heart {
      position: relative;
      width: 100px;
      height: 90px;
      animation: heartbeat 1s infinite;
      margin: 30px auto;
  }
  #heart:before,
  #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #fff;
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  #heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }
  
  
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  } */







  
  #hearContainer {
    width: 128px;
    height: 128px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 280px;
    overflow: visible;
  }
  
  #bigHeart {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    cursor: pointer;
  }
  
  #shadow {
    position: absolute;
    width: 70%;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0%);
  }
  
  .hearts {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
  }
  
  .circ {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-4px, 0px);
    cursor: pointer;
    border: 4px solid rgb(150, 30, 20);
  }
  
  .dots {
    width: 7px;
    height: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color:red;
    border-radius: 50%;
  }
  
  #desc {
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 370px;
    text-align: center;
    font-size: 20px;
    font-family: tahoma;
  }
  
  #desc span {
    color: red;
  }