@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One'); */

:root {
	 font-size: 10px;
	 font-family: 'Roboto', sans-serif;
	 --color1: #e41936;
	 --color2: #e7e31d;
	 --color3: #3bb7ce;
}
:root * {
	 outline: none;
}
html, body, main {
	 width: 100%;
	 height: 100%;
	 margin: 0;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.vintalight-body {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #f2f2f2;
	overflow-x: hidden;
}














 main {
	 display: grid;
	 grid-template-columns: 1fr 2fr;
}
 main .layer {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
}
 main .hero-left {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 main .hero-left h1 {
	 text-align: center;
}
 main .hero-left button {
	 position: absolute;
	 padding: 10px 15px;
	 margin: 10px;
	 border: none;
	 background-color: black;
	 color: white;
	 font-size: 2.5rem;
	 cursor: pointer;
	 z-index: 2;
}
 main .hero-left button:last-of-type {
	 right: 0;
}
 main .hero-left button:active {
	 transform: scale(0.9);
}
 main .hero-left .layers {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
}
 main .hero-left .layers .layer {
	 display: grid;
	 grid-template-rows: 6rem 3fr 1fr;
	 background-color: white;
	 transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	 transition-delay: 0.5s;
	 transform: translateX(100%);
	 opacity: 0;
}
 main .hero-left .layers .layer-displayed {
	 transform: translateX(0);
	 opacity: 1;
	 z-index: 1;
}
 main .hero-left .layers .layer-displayed-exit {
	 transform: translateX(-100%);
	 opacity: 0;
	 z-index: 1;
}
 main .hero-left .layers .layer > span {
	 text-align: center;
	 font-size: 4rem;
	 font-weight: bold;
}
 main .hero-left .layers .layer__image {
	 background-repeat: no-repeat;
	 background-size: auto 100%;
	 background-position: center center;
}
 main .hero-left .layers .layer__info {
	 display: grid;
	 grid-template-columns: 1fr 1.3fr;
	 column-gap: 2rem;
	 font-size: 1.5rem;
}
 main .hero-left .layers .layer__info div {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 main .hero-left .layers .layer__info div:first-child {
	 align-items: flex-end;
	 color: gray;
}
 main .hero-left .layers .layer__info div:last-child {
	 font-weight: bold;
}
 main .hero-left .layers .layer:nth-child(1) > span {
	 color: var(--color1);
}
 main .hero-left .layers .layer:nth-child(2) > span {
	 color: var(--color2);
}
 main .hero-left .layers .layer:nth-child(3) > span {
	 color: var(--color3);
}
 main .hero-right {
	 grid-column: 2;
	 position: relative;
	 overflow: hidden;
}
 main .hero-right > .layer {
	 background-color: #e41936;
	 transform: translateX(100%);
	 transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	 transition-delay: 0.5s;
}
 main .hero-right > .layer-displayed {
	 transform: translateX(0);
	 z-index: 2;
}
 main .hero-right > .layer-displayed-exit {
	 transition-delay: 1s;
	 transition-duration: 0;
	 z-index: 1;
}
 main .hero-right > .layer:nth-child(1) {
	 background-color: var(--color1);
}
 main .hero-right > .layer:nth-child(2) {
	 background-color: var(--color2);
}
 main .hero-right > .layer:nth-child(3) {
	 background-color: var(--color3);
}
 main .hero-right .photo-name {
	 position: absolute;
	 top: 33%;
	 left: 50%;
	 width: 20%;
	 font-size: 1.5rem;
	 z-index: 2;
}
 main .hero-right .photo-name span {
	 display: block;
}
 main .hero-right .photo-name__wrapper {
	 position: relative;
}
 main .hero-right .photo-name__title {
	 font-weight: bold;
}
 main .hero-right .photo-name .layer {
	 padding: 10px;
	 transform: translateX(-100%);
	 transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
 main .hero-right .photo-name .layer-displayed {
	 transform: translateX(0);
	 transition-delay: 0.5s;
}
 main .hero-right .photo-frame {
	 position: absolute;
	 overflow: hidden;
	 animation-play-state: paused;
}
 main .hero-right .photo-frame:nth-child(4) {
	 top: 10%;
	 left: 10%;
	 width: 40%;
	 height: 40%;
	 z-index: 3;
}
 main .hero-right .photo-frame:nth-child(4) .cover {
	 background-color: black;
}
 main .hero-right .photo-frame:last-child {
	 top: 40%;
	 left: 20%;
	 width: 65%;
	 height: 50%;
	 z-index: 2;
}
 main .hero-right .photo-frame .cover {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 0;
	 height: 100%;
	 background-color: white;
	 transition: width 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
 main .hero-right .photo-frame .layer {
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 opacity: 0;
	 transition-delay: 0.5s;
}
 main .hero-right .photo-frame .layer-displayed {
	 opacity: 1;
}
 @keyframes cover {
	 0% {
		 width: 0;
	}
	 50% {
		 width: 100%;
	}
	 95% {
		 width: 0;
	}
	 100% {
		 width: 0;
	}
}

.vintalight {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	max-width: 1200px;
	padding: 50px 0;
}
.vintalight__container {
	position: relative;
	width: 90%;
	max-width: 10.5em;
	height: 12.25em;
	background-color: #fff;
	font-size: 30px;
	box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
	transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s,
		margin 0.5s;
}
@media screen and (max-width: 500px) {
	.vintalight__container {
		max-width: 7.35em;
		height: 8.575em;
	}
}
.vintalight__container:nth-child(1) {
	transform: translate(40px, 30px) rotate(-30deg);
	z-index: 40;
}
.vintalight__container:nth-child(1):hover {
	transform: scale(1.15) translate(40px, 30px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(1) {
		transform: translate(0) rotate(-30deg);
	}
	.vintalight__container:nth-child(1):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:nth-child(2) {
	transform: translate(30px, 20px) rotate(7deg);
	z-index: 50;
}
.vintalight__container:nth-child(2):hover {
	transform: scale(1.15) translate(30px, 20px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(2) {
		transform: translate(0) rotate(7deg);
	}
	.vintalight__container:nth-child(2):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:nth-child(3) {
	transform: translate(-20px, 20px) rotate(20deg);
	z-index: 40;
}
.vintalight__container:nth-child(3):hover {
	transform: scale(1.15) translate(-20px, 20px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(3) {
		transform: translate(0) rotate(20deg);
	}
	.vintalight__container:nth-child(3):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:nth-child(4) {
	transform: translate(40px, -10px) rotate(10deg);
	z-index: 30;
}
.vintalight__container:nth-child(4):hover {
	transform: scale(1.15) translate(40px, -10px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(4) {
		transform: translate(0) rotate(10deg);
	}
	.vintalight__container:nth-child(4):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:nth-child(5) {
	transform: translate(30px, -20px) rotate(-20deg);
	z-index: 20;
}
.vintalight__container:nth-child(5):hover {
	transform: scale(1.15) translate(30px, -20px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(5) {
		transform: translate(0) rotate(-20deg);
	}
	.vintalight__container:nth-child(5):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:nth-child(6) {
	transform: translate(30px, -40px) rotate(-10deg);
	z-index: 40;
}
.vintalight__container:nth-child(6):hover {
	transform: scale(1.15) translate(30px, -40px) rotate(0);
}
@media screen and (max-width: 700px) {
	.vintalight__container:nth-child(6) {
		transform: translate(0) rotate(-10deg);
	}
	.vintalight__container:nth-child(6):hover {
		transform: scale(1.1) translate(0) rotate(0);
	}
}
.vintalight__container:hover {
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4);
	z-index: 100;
}
@media screen and (max-width: 700px) {
	.vintalight__container:hover {
		margin: 0 25px;
	}
}
.vintalight__container:hover .vintalight__container__photo::before {
	transform: scale(1);
}
.vintalight__container.active,
.vintalight__container.active:hover {
	transform: rotate(0) scale(1.25);
}
@media screen and (max-width: 500px) {
	.vintalight__container.active,
	.vintalight__container.active:hover {
		transform: rotate(0) scale(1.15);
	}
}
.vintalight__container.active {
	position: relative;
}
.vintalight__container.active .vintalight__container__photo {
	cursor: default;
}
.vintalight__container.active .vintalight__container__photo::before {
	display: none;
}
.vintalight__container__photo {
	position: relative;
	width: 9.25em;
	height: 9.25em;
	margin: 0.625em auto 0;
	overflow: hidden;
	cursor: pointer;
}
@media screen and (max-width: 500px) {
	.vintalight__container__photo {
		width: 6.475em;
		height: 6.475em;
		margin: 0.4375em auto 0;
	}
}
.vintalight__container__photo::before {
	content: 'Ver foto';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 1em;
	font-family: roboto, sans-serif;
	transform: scale(0);
	transition: all 0.25s;
}
.vintalight__container__photo__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vintalight__container__caption {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2.375em;
}
@media screen and (max-width: 500px) {
	.vintalight__container__caption {
		height: 1.6625em;
	}
}
.vintalight__container__caption__text {
	color: #222;
	font-size: 1em;
	font-family: nanum pen script, cursive;
}
.vintalight-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	z-index: 10000;
	transition: opacity 0.5s;
}
.vintalight-overlay.active {
	opacity: 1;
}
.vintalight__button {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-color: #f53d3d;
	border: 3px solid #fff;
	border-radius: 50%;
	outline: none;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.3);
	z-index: 10000;
	cursor: pointer;
}


.carousel {
	background: black;
  }
  
  .carousel-cell {
	width: 70%;
	height: 200px;
	/* flex-box, center image in cell */
	display: -webkit-box;
	display: -webkit-flex;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
			justify-content: center;
	-webkit-align-items: center;
			align-items: center;
  }
  
  .carousel-cell img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	/* dim unselected */
	opacity: 0.7;
	-webkit-transform: scale(0.85);
			transform: scale(0.85);
	-webkit-filter: blur(5px);
			filter: blur(5px);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
			transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  }
  
  /* brighten selected image */
  .carousel-cell.is-selected img {
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1);
	-webkit-filter: none;
			filter: none;
  }
  
  @media screen and ( min-width: 768px ) {
	.carousel-cell {
	  height: 400px;
	}
  }
  
  @media screen and ( min-width: 960px ) {
	.carousel-cell {
	  width: 60%;
	}
  }
  
  /* buttons, no circle */
  .flickity-prev-next-button {
	width: 60px;
	height: 60px;
	background: transparent;
	opacity: 0.6;
  }
  .flickity-prev-next-button:hover {
	background: transparent;
	opacity: 1;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
	fill: white;
  }
  .flickity-prev-next-button.no-svg {
	color: white;
  }
  /* closer to edge */
  .flickity-prev-next-button.previous { left: 0; }
  .flickity-prev-next-button.next { right: 0; }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
	display: none;
  }








.etxt {
	font-family: 'Raleway', sans-serif;
	padding: 1em 2em;
	font-size: 18px;
	background: #222;
	color: #aaa
  }
  
.etxt h1,h2 {
	font-weight: 200;
	margin: 0.4em 0;
  }
  .etxt h1 { font-size: 3.5em; }
  .etxt h2 {
	color: #888;
	font-size: 2em;
  }